@charset "UTF-8";

/* Mobile First */

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

html{
    width: 100vw;
    height: 100vh;
}
body{
    background-color: black;
    background-image: url("../imagens/back-phone.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
main{
    width: 90vw;
    padding:10px;
    border-radius: 13px;
    box-shadow: 1px 1px 1px black;
    background-color: rgba(255, 255, 255, 0.623);
    display: block;
    margin: auto;
}
main > h1{
    text-align: center;
    font-size: 32px;
    padding-top: 10px;
    text-shadow: 1px 1px 1px black;
    color: white;
}
main img{
    display: block;
    margin: auto;
}
img#pc{display: none;}
img#tv{display: none;}
img#tablet{display: none;}
img#impressora{display: none;}
img#smartphone{display: block;}
