@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

div#conteiner{
    height: 200px;
    background-color: lightgreen;
    /* essa propriedade display automaticamente vai transformar um elemento em uma
    caixa flexível e seus itens internos em flex-itens automaticamente.*/
    display: flex;
    /* definindo a direção do eixo para alinhamento dos itens dessa caixa flexivel: */
    flex-direction: row;
    /* propriedade que permite configurar a ação a ser tomada no momento que pode
    ocorrer uma quebra de conteúdos dentro do flex-conteiner: */
    flex-wrap: nowrap;
}

div.itens{
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    border-color: black;
    background-color: lightblue;

    /* propriedade dos flex-itens que necessita de almento da altura do flex-contêiner
    para ser visualizada corretamente: */
    align-self: stretch;

    /* propriedade que verifica se um flex item pode encolher de tamanho: */
    flex-shrink: 1;

    /* propriedade que verifica se um flex-item pode aumentar de tamanho: */
    flex-grow: 1;

}