@charset "UTF-8";

/* Devise BreakPoints:

pequenas-telas: 320px0 até 600px;
Celular: 600px até 768px

tablets: 601px até 1024px
Desktop: 1025px até 1280px
Grandes-telas: 1281px até 1440px

Ultra-telas: minimo: 1441px

*/

@media print{
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    header{
        display: none
    }
    
    main{
        width: 90vw;
        border: none;
        box-shadow: none;
    }
    footer{
        margin-top: -10px;
    }

}
@media screen and (min-width:770px){
   header{
    text-align: left;
   }
   header >h1{
    text-align: center;
   }
   header > nav a{
    display: inline-block;
   }
   header > nav{
    display: block;
   }
   header span{
    visibility: hidden;
   }
}
